@model IEnumerable<FinalProSofra.Models.Category>
<section id="categories-section">
<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="vertical-product-box h-100" style="transition: transform 0.3s ease;">
                <div class="vertical-product-box-img">
                    <img src="@category.Image" class="img-fluid" alt="@category.CategoryName" style="width: 100%; height: auto;">
                </div>
                <div class="vertical-product-body text-center">
                    <h5 class="vertical-product-title" style="font-size: 1.5rem;">
                        <a asp-controller="Products" asp-action="Product" asp-route-categoryId="@category.CategoryId" class="text-dark">
                            @category.CategoryName
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    }
    }
    </section>